{% extends 'tareas/base.html' %}
{% block content %}
<h3>Editar Tarea</h3>
<form action="" method="post">{% csrf_token %}
  {{form.titulo}}
  <label for="completado">
    <input type="checkbox" name="completado" id="completado" value="{{form.completado}}">
    <span></span>
  </label>
  <input type="submit" name="editar tarea" class="btn">
</form>
{% endblock %}
