{% extends 'tareas/base.html' %}
{% block content %}
<p>Estas seguro que quieres eliminar la tarea "{{tarea}}"</p>
<a href="{% url 'inicio' %}">Cancelar</a>
<form action="" method="POST"> {% csrf_token %}
<!-- <input class="btn" type="submit" name="confirmar"/> -->
<button type="submit" name="confirmar" class="btn">Confirmar</button>
</form>
{% endblock %}
