{% extends 'tareas/base.html' %}
{% block content %}
  <div class="row">
    <div class="col l2 "></div>
      <form action="/" method="POST">{% csrf_token %}
        {{form.titulo}}
        <input type="submit" class="btn" name="crear tarea">
      </form>
    <div class="col s12 m6">
      {% for tarea in tareas %}
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          {% if tarea.completado == True %}
          <strike class="card-title">{{tarea.titulo}}</strike>
          {% else %}
          <span class="card-title"><p>{{tarea.titulo}}</p></span>
          {% endif %}
          </div>
          <div class="card-action">
            <a href="{% url 'editar_tarea' tarea.id %}">Editar</a>
            <a href="{% url 'eliminar_tarea' tarea.id %}">Borrar</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col l2">
      </div>
    </div>
{% endblock %}
